# Mark as detectable
*.Rmd linguist-detectable=true

# Mark as generated
_site/* linguist-documentation
_site/** linguist-documentation
_posts/**/*_files/** linguist-documentation

# Mark as vendored

# Mark as documentation
# *.html linguist-documentation
# *.css linguist-documentation
# *.bib linguist-documentation
