# Mark as different language
*.Rmd linguist-detectable=true
*.Rmd linguist-language=R

# Mark as generated
_site/** linguist-generated
posts/**/*.html linguist-generated
posts/**/*_files/** linguist-generated
